#allProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#allProducts .card {
  display: flex;
  align-items: center;
}

.card-header,
.card-body,
.card-footer {
  width: 33.33333%;
}

.card {
  border: 1px solid #ccc;
  padding: 0 10px;
}

.card .quick-view {
  display: block;
}

.card-footer .price {
  display: flex;
  flex-direction: column;
  line-height: 50px;
}

@media only screen and (max-width: 600px) {
  .card-header .quick-view ul li {
    padding: 0 5px;
  }
  .card {
    position: relative;
  }

  .card-header .quick-view {
    position: absolute;
    bottom: -25px;
  }

  .card-header .quick-view ul li button {
    padding: 5px;
    font-size: 10px;
  }
  .card-footer .btn {
    position: absolute;
    bottom: 10px;
    right: 8px;
  }
  .card-footer .btn button {
    padding: 5px;
    font-size: 10px;
  }
  .card-header,
  .card-body,
  .card-footer {
    height: auto;
  }
}