.products .grid {
	grid-column-gap: 40px;
	grid-row-gap: 50px;
}

.card {
	width: 100%;
}



.card-header {
	position: relative;
}


.card-header .sale {
	position: absolute;
	top: 5px;
	left: 10px;
}

.card-header .sale .sale-text {
	background: var(--main-color);
	font-size: 11px;
	padding: 3px;
	font-weight: 400;
	color: var(--normal-color);
	border-radius: 5px;
}

.card-header .quick-view {
	background: var(--main-color);
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
}

.card:hover .quick-view {
	display: block;
}

.card-header .quick-view ul {
	display: flex;
	justify-content: center;
}

.card-header .quick-view ul li {
	list-style: none;
}

.card-header .quick-view .tooltip {
	position: relative;
	z-index: 2;
}

.card-header .quick-view .tooltip .tooltipText {
	position: absolute;
	top: -22px;
	padding: 0 5px;
	left: -10px;
	font-size: 11px;
	white-space: nowrap;
	background: var(--main-color);
	border-radius: 5px;
	visibility: hidden;
}

.card-header .quick-view .tooltip .tooltipText:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent transparent;
}

.card-header .quick-view  .tooltip:hover .tooltipText {
	visibility: visible;
}

.card-header .quick-view ul li {
	padding: 0 5px;
}

.card-header .quick-view ul li button {
	padding: 10px;
	border: none;
	outline: none;
	background: inherit;
	font-size: 15px;
	color: var(--normal-color);
}

.card-header .quick-view ul li button:hover {
	cursor: pointer;
}

.card-body {
	height: 150px;
	margin-top: 5px;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.card-body {
		height: 180px;
	}
	.card-footer {
		height: 80px;
	}

	.card-body .title h4 {
		font-size: 14px;
	}
}



.card-body ul {
	display: flex;
	justify-content: center;
}

.card-body ul li {
	list-style: none;
}

.card-body .brand h5 {
	color: rgb(117, 117, 117);
}

.card-body .title {
	margin-top: 5px;
}

.card-body .title a {
	color: #222;
	font-size: 15px;
	font-weight: 900;
	line-height:  22.5px;
	transition: all .3s ease;
}

.card-body .title a:hover {
	color: rgb(117, 117, 117);
}

.card-body .color {
	margin-top: 20px;
}

.card-body .color ul li {
	height: 18px;
	width: 18px;
	margin: 0 4px;
	border: 1px solid #ccc;
}

.card-body .color ul li:nth-child(1) {
	background: white;
}

.card-body .color ul li:nth-child(2) {
	background: black;
}

.card-body .color ul li:nth-child(3) {
	background: #3584d7;
}

.card-body .rating {
	margin-top: 5px;
}

.card-body .rating ul li {
	margin: 0 2px;
	color: #ccc;
}

.card-footer {
	margin-top: 20px;
}

.card-footer .price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-footer .price .was-price h2 {
	white-space: ;
	font-size: 12px;
	font-weight: 600;
	line-height: 16.8px;
	color: rgb(117, 117, 117);
}

.card-footer .price .now-price h2 {
	white-space: nowrap;
	font-size: 12px;
	font-weight: 600;
	color: rgb(117, 117, 117);
}


.card-footer .price .now-price h2 span{
	font-size: 16px;
	color: #222;
}

.card-footer .btn {
	margin-top: 10px;
}
.card-footer .btn button {
	width: 100%;
	padding: 10px ;
	background: var(--main-color);
	border: 1px solid var(--main-color);
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: var(--normal-color);
	transition: all .3s ease;
}

.card-footer .btn button:hover {
	cursor: pointer;
	background: var(--normal-color);
	color: var(--main-color);
}


.loading {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: grid;
	justify-content: center;
	text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Shoping*/
.containers {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

.shop-right .container {
  padding-right: 25px;
  padding-left: 25px;
}

.filter .filter-header {
	background: var(--main-color);
	font-size: 15px;
	font-weight: 600;
	padding: 9px 10px;
	line-height: 22.5px;
	color: var(--normal-color);
	border: 1px solid var(--main-color);
}
.filter {
	margin-bottom: 2rem;
}


.filter .filter-body {
	border-top: none;
	border: 1px solid #ccc;
}

.filter .filter-body ul li {
	list-style: none;
	padding: 9px 10px;
}

.filter .filter-body ul li button {
	background: inherit;
	outline: none;
	border: none;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	color: #111;
	transition: all .4s ease;
}

.filter .filter-body ul li button:hover {
	color: rgb(204, 204, 204);
	cursor: pointer;
}

.filter .search-box {
	width: 100%;
}

.filter .search-box .input-box {
	padding: 9px 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.filter .search-box .input-box input {
	padding: 9px 10px;
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
}

.filter .price-form {
	padding: 9px 10px;
}

.filter p {
	padding: 9px 10px;
	font-weight: 600;
	font-size: 16px;
}

.filter .price-form  input {
	width: 100%;
}

.sort {
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

.sort .sort-left button {
	position: relative;
	height: 30px;
	width: 30px;
	background: #ccc;
	border: 1px solid #444;
	white-space: nowrap;
	transition: all.3s ease;
}

.sort .sort-left button:hover {
	cursor: pointer;
	opacity: .5;
}

.sort .sort-left button i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}






